{% extends "core/index.html" %}


{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


<div class="row mt-5">
    <div class="col-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title mb-0">Xarajatlar ro'yxati</h3>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="grid-margin">
                                            <div class="">
                                                <div class="panel panel-primary">
                                                    <div class="tab-menu-heading border-0 p-0">
                                                        <div class="tabs-menu1">
                                                            <!-- Tabs -->
                                                            <ul class="nav panel-tabs product-sale">
                                                                <li><a href="#tab5" class="active"
                                                                        data-bs-toggle="tab">Barcha tovarlar</a></li>
                                                                <li><a href="#tab6" data-bs-toggle="tab"
                                                                        class="text-dark">Shipped</a></li>
                                                                <li><a href="#tab7" data-bs-toggle="tab"
                                                                        class="text-dark">Pending</a></li>
                                                                <li><a href="#tab8" data-bs-toggle="tab"
                                                                        class="text-dark">Cancelled</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="panel-body tabs-menu-body border-0 pt-0">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab5">
                                                                <div class="table-responsive">
                                                                    <table id="data-table"
                                                                        class="table table-bordered text-nowrap mb-0">
                                                                        <thead class="border-top">
                                                                            <tr>


                                                                                <th class="bg-transparent border-bottom-0"
                                                                                    style="width: 15%;">Xarajat nomi</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Xarajat maqsadi</th>

                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                   Xarajat miqdori</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Valyuta turi</th>

                                                                                <th class="bg-transparent border-bottom-0"
                                                                                    style="width: 5%;">O'zgartirish</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for expense in object_list %}
                                                                            <tr class="border-bottom">

                                                                                <td><span class="mt-sm-2 d-block">
                                                                                    {{ expense.xarajat_nomi }}
                                                                                </span></td>
                                                                                <td>
                                                                                    <div class="mt-sm-1 d-block">
                                                                                        <span
                                                                                            class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ expense.maqsadi }}</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block">{{ expense.miqdori }}</span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                                {{ expense.valyuta_turi }}</h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>

                                                                                <td>
                                                                                    <div class="g-2">
                                                                                        <a href="{% url 'core:expense_update' pk=expense.pk%}"
                                                                                          class="btn text-primary btn-sm"
                                                                                            data-bs-toggle="tooltip"
                                                                                            data-bs-original-title="Tahrirlash"><span
                                                                                                class="fe fe-edit fs-14"></span></a>
                                                                                        <a href="{% url 'core:expense_delete' pk=expense.pk%}"
                                                                                           class="btn text-danger btn-sm"
                                                                                            data-bs-toggle="tooltip"
                                                                                            data-bs-original-title="O'chirish"><span
                                                                                                class="fe fe-trash-2 fs-14"></span></a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                             {% endfor %}
                                                                        </thead>
                                                                        <tbody>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ROW-4 END -->
</div>
                    <!-- CONTAINER END -->


{% endblock %}