{% extends "core/index.html" %}

{% block content %}

                        <div class="row mt-5">
                            <div class="col-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title mb-0">Qo'shilgan tovarlar ro'yxati</h3>
                                    </div>
                                    <div class="card-body pt-4">
                                        <div class="grid-margin">
                                            <div class="">
                                                <div class="panel panel-primary">
                                                    <div class="d-flex justify-content-end mb-3">
                                                      <a href="{% url 'core:add_product' %}" class="btn btn-primary">
                                                          <span class="fe fe-plus me-2"></span>Tovar qo'shish</a>
                                                    </div>
                                                    <!-- Add this above your table -->

                                                    <div class="panel-body tabs-menu-body border-0 pt-0">
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab5">
                                                                <div class="table-responsive">
                                                                    <table id="data-table"
                                                                        class="table table-bordered text-nowrap mb-0">
                                                                        <thead class="border-top">
                                                                            <tr>

                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Tovar nomi</th>
                                                                                <th class="bg-transparent border-bottom-0"
                                                                                    style="width: 5%;">Tannarxi</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Kategoriya</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Sotilish narxi</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    Miqdori</th>
                                                                                <th
                                                                                    class="bg-transparent border-bottom-0">
                                                                                    O'lchov birligi</th>
                                                                                <th class="bg-transparent border-bottom-0"
                                                                                    style="width: 10%;">Ta'minotchi</th>
                                                                                <th class="bg-transparent border-bottom-0"
                                                                                    style="width: 5%;">O'zgartirish</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for product in page_obj %}
                                                                            <tr class="border-bottom">
                                                                                <td class="text-center">
                                                                                    <div class="mt-0 mt-sm-2 d-block">
                                                                                        <h6
                                                                                            class="mb-0 fs-14 fw-semibold">
                                                                                            {{ product.nomi }}</h6>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">

                                                                                        <div class="ms-3 mt-0 mt-sm-2 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                                {{ product.tannarxi }}</h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                                {{ product.kategoriyasi }}</h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td><span class="mt-sm-2 d-block">
                                                                                    {{ product.sotilish_narxi }}
                                                                                </span></td>
                                                                                <td><span
                                                                                        class="fw-semibold mt-sm-2 d-block">{{ product.miqdori }}</span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="mt-0 mt-sm-3 d-block">
                                                                                            <h6
                                                                                                class="mb-0 fs-14 fw-semibold">
                                                                                                {{ product.ulchov_birligi }}</h6>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="mt-sm-1 d-block">
                                                                                        <span
                                                                                            class="badge bg-success-transparent rounded-pill text-success p-2 px-3">{{ product.taminotchi }}</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="g-2">
                                                                                        <a href="{% url 'core:product_update' pk=product.pk%}"
                                                                                          class="btn text-primary btn-sm"
                                                                                            data-bs-toggle="tooltip"
                                                                                            data-bs-original-title="Tahrirlash"><span
                                                                                                class="fe fe-edit fs-14"></span></a>
                                                                                        <a href="{% url 'core:product_delete' pk=product.pk%}"
                                                                                           class="btn text-danger btn-sm"
                                                                                            data-bs-toggle="tooltip"
                                                                                            data-bs-original-title="O'chirish"><span
                                                                                                class="fe fe-trash-2 fs-14"></span></a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                             {% endfor %}
                                                                        </thead>
                                                                        <tbody>

                                                                        </tbody>
                                                                    </table>
                                                                    {% if is_paginated %}
                                                                        <nav class="pagination text-center mt-2">
                                                                        <span class="page-links">
                                                                            {% if page_obj.has_previous %}
                                                                                <a href="?page=1">&laquo; birinchi</a>
                                                                                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; oldingi</a>
                                                                            {% endif %}

                                                                            <span class="page-current">
                                                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                                            </span>

                                                                            {% if page_obj.has_next %}
                                                                                <a href="?page={{ page_obj.next_page_number }}">keyingi &rsaquo;</a>
                                                                                <a href="?page={{ page_obj.paginator.num_pages }}">so'ngi &raquo;</a>
                                                                            {% endif %}
                                                                        </span>
                                                                    </nav>
                                                                {% endif %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-4 END -->
                    </div>
                    <!-- CONTAINER END -->


  {% endblock %}